<div class="container">
	<h1>Top 5 Agents by rating</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					Full Name
				</th>
				<th>
					Average Rating
				</th>
			</tr>
		</thead>
		<tbody>
			<% @top_five_by_rating.each do |agent| %>
				<tr>
					<td>
						<%= agent.full_name %>
					</td>
					<td>
						<%= agent.avg_rating %>
					</td>
				</tr>
			<% end %>
			</tbody>
	</table>
</div>