<div class="container">
	<h1>Top 5 agents by average sale price</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					Full Name
				</th>
				<th>
					Average Price
				</th>
			</tr>
		</thead>
		<tbody>
			<% @top_five_agents.each do |agent| %>
				<tr>
					<td>
						<%= agent.full_name %>
					</td>
					<td>
						<%= number_to_currency(agent.avg_price) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>